/*styling for calculator page*/
/*Style the original and additional fields*/
main{
  display: flex;
  flex-direction: column;
}
main ul li{
    list-style: none;
}
main ul li a button{
    text-decoration: none;
}

/*align text in the middle*/
main.calc-home{
  text-align: center;
}

/*align text in the middle*/
main .calc-info{
  text-align: center;
}
main .top-div{
  text-align: center;
}

/*style gpa calculator to have three input fields in each row or in each column*/
/*for home screen align the items in the center*/