/*change chat page and container to not be all the way at bottom and to fit screen*/

/*Style for chat page*/

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/*This is the container for chat*/
.chat-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/*Both sidebar and chat should fill the height of the page*/
.sidebar {
  background-color: rgb(230, 230, 230);
  border: 1px solid #afafaf;
  height: 100%;
  width: 21%;
  overflow: auto;
}

.sidebar-userlist {
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 0;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-top: 0;
  /* Optional: Remove default padding if present */
}

/*Styling for search bar*/
#search-bar {
  width: 95%;
  margin: 20px auto;
}

/*Style input for searching*/
#search-input {
  width: 100%;
  padding: 10px;
  border-color: #add8e6;
  border-radius: 10px;
  box-sizing: border-box;

}

/* Styling for user boxes*/
.sidebar-user {
  width: 100%;
  border-bottom: 1px solid rgb(164, 162, 162);
  border-top: 1px solid rgb(164, 162, 162);
}

/*Styling for sidebar header*/
#sidebar-header {
  border-bottom: 1px solid black;
  margin: 0;
}

/*For search bar and button in the sidebar*/

/*For user list in the sidebar*/

.chat-window {
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-style: none;
  border-right-style: none;
  width: 79%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*Header of chat window*/
.chat-header {
  background-color: rgb(230, 230, 230);
  height: 3.4em;
}

/*Body of chat window where messages are displayed*/
.chat-body {
  flex: 1;
  overflow-y: auto;
  /* Add this to enable vertical scrolling if needed */
}

/*Messages in the chat body*/
.messages {
  background-color: #add8e6;
  width: 40%;
}

/* Chat Footer that contains field for typing message and send button*/
.chat-footer {
  background-color: #C0C0C0;
  margin-top: auto;
  position: fixed;
  width: 79%;
  height: 3.9em;
  bottom: 0;
}

/*Change user based on if they click and change cursor*/
.user-list :hover {
  cursor: pointer;
}

.sidebar-userlist .sidebar-user:hover {
  background-color: rgb(197, 193, 193);
}



/*For responsive design*/
/*If chat window is already open only show that chat window.
Otherwise, if it is closed show ony the sidebar*/






/*.chat-list li {
  display: flex;
  justify-content: space-between;
 
}

.chat-window {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;

  width: 100%;
}

.chat-header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-form {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.chat-messages {
  height: 90em;
  overflow-y: scroll;
}
.chat-messages .message-received{
  background-color: rgb(136, 136, 135);
}

.chat-messages .message-sent{
  background-color:rgb(204, 204, 204);
}

.chat-form .text-message {
  flex-grow: 1;
  height: 40px;
}

.chat-form input.submit-btn {
  background-color: #004785;
  color: white;
  border: none;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
}

.searchBars input, .searchBars .user-type{
  width: 90%;
}

Fix chat page to work for phone
@media (max-width: 768px) {
  .chat-list li {
    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
    
  }
}*/