/*styling for login page*/

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #004684;
    padding-top: 8px;
    padding-bottom: 8px;
}

header .logo {
    font-size: 28px;
    font-weight: 300;
    color: #fbb927;
}

.login-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.login-container .login-form form {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid;
    box-shadow: 20px 20px 50px grey;
    align-items: center;
    padding-top: 25px;
    height: 300px;
}

.login-container .login-form form .user-email,
.login-container .login-form form .user-password {
    width: 50%;
}

.login-container .login-form form select {
    width: 200px;
}

/* Error container styles */
#error-container {
    display: none;
    padding: 20px;
    background-color: rgba(231, 76, 60, 1);
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.2em;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow for depth */
}

.closebtn {
    color: #fff;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.closebtn:hover {
    color: #fff;
}

@media (max-width: 753px) {
    .login-form {
        margin: 0;
        margin-top: 60px;

    }
}