/*Styling for navigation bar of all pages*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.navbar {
    display: flex;
    max-width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #004684;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header.navbar .logo {
    font-size: 22px;
    color: white;
}

header.navbar .nav-toggle {
    display: none;
}

header.navbar .nav-toggle-label {
    display: none;
    color: white;
    font-size: 35px;
}

header.navbar ul.links a {
    color: white;

    font-size: 19px;
}

header.navbar ul.links a:hover {
    color: #fbb927;
    transition: 0.2s ease;
}

header.navbar ul.links {
    display: flex;
    list-style: none;
}

nav ul li ul li a {
    color: black;
    list-style: none;

}

header.navbar nav {
    display: flex;
    gap: 1em;

}

header.navbar nav ul li {
    padding: 5px 24px;

}

header.navbar .calc-links .dropdown {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: #004785;
}

header.navbar .calc-links:hover .dropdown {
    display: block;
}


header.navbar .calc-links {
    position: relative;
}

header.navbar .calc-links .dropdown {
    top: 100%;
    left: 0;
    min-width: 200px;
}


@media (max-width:794px) {
    header.navbar nav ul.links {
        display: none;
        position: absolute;
        max-width: 100%;
        right: 0;
        left: 0;
        padding: 16px 0;
        text-align: center;
        background-color: rgb(0, 70, 132);
    }

    header.navbar {
        max-width: 100%;
    }

    header.navbar .nav-toggle-label {
        display: block;
    }




    input[type=checkbox]:checked~nav ul.links {
        display: block;
    }

}