/*Css for advisee view page*/
/* Reset styles */
table,
th,
tr,
td {
    border: 1px solid rgb(184, 178, 178);
    border-collapse: collapse;
}


/*Fill whole page with input and table*/
table,
.search-container {
    width: 60%;
    margin: 15px auto;
}

.search-container {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/*Center Header*/
#page-header {
    text-align: center;
}

/*Stretch The search bar to fit the full box*/
#advisee-input {
    width: 100%;
    height: 3.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
    box-sizing: border-box;
}

/*Change button radius for table*/
td button {
    border-color: grey;
    border-radius: 7px;
    width: 100%;
    height: 2.5em;
    font-size: 0.8em;
}

/*Update text inside td and th to be left aligned*/
td,
th {
    text-align: left;
    height: 50px;
    font-size: 1.05em;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

th,
td {
    padding: 9px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}




/*From tutorial*/
/*Modal design*/
#profile-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/*Modal content*/
#modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

#modal-content h2 {
    text-align: center;

}

#modal-content hr {
    border: 1px solid #9d9b9b;
    margin: 10px 0;
}

#info-container {
    display: flex;
    justify-content: space-between;
}

#personal-info,
#academic-info {
    width: 100%;
}


#modal-content label {
    color: black;
    font-weight: bold;
}

/*Close button*/
#close-modal {
    color: #aaa;
    position: absolute;
    top: 15px;
    right: 35px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/*Responsive design*/
@media only screen and (max-width: 600px) {
    table {
        border: 0;
    }


    table th {
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1.05em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        font-size: 1.1em;
    }

    td button {
        border-color: grey;
        height: 65%;
        border-color: grey;
        border-radius: 7px;
        width: 30%;
        height: 2.5em;
        font-size: 0.8em;
    }

    table td:last-child {
        border-bottom: 0;
    }
}